/* MULTIPLE PARTS */

.main {
	background: #eceaea;
}

.logo {
	padding-top: 30px;
	float: left;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial;
}

.wrap {
	width: 80%;
	margin: 0 auto;
}

.wrap ul li a {
	text-decoration: none;
	color: black;
}

ol,ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

nav.vertical ul li {
	display: block;
}

nav.horizontal ul li {
	display: inline-block;
}

/*--INDEX (MAIN PAGE) MENU--*/

.navbar {
	float: right;
	padding-top: 10px;
}

.navbar ul li a {
	color: #000000;
	display: block;
	padding: 30px 20px;
	margin: 15px 15px;
}

.navbar ul li {
	display: inline-block;
}

.navbar li> a:hover, .navbar li.active> a {
	background: #aaeeff;
	color: #000000;
}

.buttonbackground {
	font-size:16px;
	display: block;
	background: #000000;
}

.button1 {
	border: none;
	color:#ffffff;
	cursor: pointer;
	border-bottom: 4px solid #aaeeff;
	position: relative;	
	padding: 10px 20px;
	display: inline-block;
}

.button2 {
	top: 50%;
	left: 45%;
	border: none;
	color:#ffffff;
	cursor: pointer;
	border-bottom: 4px solid #aaeeff;
	position: relative;	
	padding: 10px 20px;
	display: inline-block;
}

/* INDEX (MAIN PAGE) CONTENT  */

.content1 {
	padding:5% 0;
}

.content1 h3 {
	text-align:center;
	font-size:40px;
	margin-bottom:20px;
}

.content1 h1 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 15px;
}

.content1 h5 {
	text-align:center;
	font-size:20px;
	margin-bottom:40px;
}

.indexcolumn {
	float:left;
	margin:0% 0 0% 3.6%;
	background: #aaeeff;
	cursor:pointer;
}
.indexcolumnothers:hover {
	background:#e2e4e7;
	color: #ffffff;
}

.indexcolumn:first-child { margin-left: 0;} 

.indexcolumnothers, .indexcolumn1 {
	width: 22%;
}

.indexcolumn1 img {
	display:block;
}
.indexcolumnothers p {
	font-size:16px;
	color: #333;
}

.description h4{
	color: #ffffff;
	font-size: 16px;
}

.description {
	background:#353536;
	padding: 20px;
}

span.small {
	color:#aaeeff;
}

.grid1 img {
	padding: 23px 0;
}

.grid1 h4 {
	color:#5C5401;
	font-size:16px;
}
.description p {
	color: #ffffff;
	font-size: 14px;
	text-align: center;
}

.grid1{
	text-align:center;
	padding: 26px 0px 10px 0px;
}

.description h4 span{
	float:right;
	font-size:12px;
}

.indexcontenttitle{
	padding-bottom:1%;
	margin: 0 0 400px 0;
}
.indexcontenttitle h2{
	font-size: 16px;
	text-align: center;
	background:url(../images/bg-h2.png) repeat-x center;
	margin-bottom:40px;
}
.indexcontenttitle h2 span{
	background:#363536;
	color:#aaeeff;
	padding:5px 40px;
}
.indexcontenttitle p{
	text-align:center;
	color:#424146;
	font-size: 16px;
	padding:1% 0;
}
#tiles {
  list-style-type: none;
  position: relative; 
  margin: 0;
}

#tiles li {
  background-color: #ffffff;
}

#tiles li img {
  display: block;
  cursor: pointer;
}

#tiles ali:nth-child(3n) {
  height: 175px;
}

#tiles ali:nth-child(4n-3) {
  padding-bottom: 30px;
}

#tiles ali:nth-child(5n) {
  height: 250px;
}

#main1 {
  padding: 30px 0 30px 0;
}

.content-bottom{
	padding-bottom:5%;
}

.content-bottom h2{
	font-size: 16px;
	text-align: center;
	background:url(../images/bg-h2.png) repeat-x center;
	margin-bottom:40px;
}
.content-bottom h2 span{
	background:#363536;
	color:#aaeeff;
	padding:5px 40px;
}
.content-bottom p{
	text-align:center;
	color:#424146;
	font-size: 14px;
	padding: 1% 0 3%;
}

.content-bottom #clients li img {
	float: left;
	margin: 10px;
}

#container #main1 #tiles img {
	float: left;
	margin: 10px;
}

.content-bottom #clients {
	margin: 0 0 40px 0;
}

/* FOOTER PART */

.col3{
	display: block;
	float:left;
	margin:0% 0 0% 4.6%;
}
.col3:first-child { margin-left: 0; }

.span3 {
	width: 30.2%;
	color: #ffffff;
}

.footer-1{
	background:#414146;
	padding:2% 0;
}

.footer-2{
	background:#000000;
	padding: 20px;
}

.gallery li img {
	display:block;
}

.gallery li {
	float: left;
	width: 31.9%;
	padding-right: 5px;
}

.footer-list li {
	padding-bottom: 20px;
}

.footer-list li p {
	width: 85.5%;
	float: left;
	padding: 0;
}

.footer-list li img {
	float:left;
	margin-right:20px;
}

span.blue a {
	color: #aaeeff;
}

span.blue a:hover {
	color:#ffffff;
}

.text {
	border-bottom:1px solid #aaeeff;
	color:#ffffff;
}

.text img {
	float:right;
}

.copy p {
	color: #ffffff;
	font-size:16px;
}

p.copy a {
	color:#aaeeff;
}

/*--BLOG PAGE--*/

.blog-image img {
	width: 100%;	
	display: block;
}

.blog-left{
	width:47%;
	margin: 0 3%;
	float:left;
}

.blog-right {
	width: 47%;
	float: left;
}

.blog-image, .blog-image1 {
	margin-bottom:20px;
}

.blog-left h4 {
	padding:10px 30px 0;
}

span.author {
	float: right;
	font-size:14px;
	padding: 0 10px 5px;
}

.blog-desc{
	background:#aaeeff;
	padding:30px;
}

.blog-desc h5{
	color:#000000;
	font-size:20px;
}

.comment {
	padding-top:20px;
}

span.icon{
	font-size: 14px;
	float: left;
	color:#555555;
}


.single-img img{
	display:block;
}

.blog-desc p{
	color:#777;
	font-size:14px;
	padding-top: 10px;
}

.comment-description{
	font-size: 14px;
	vertical-align:top;
	float: right;
	color: #000000;
}
.comment-description a:hover{
	text-decoration:underline;
}

.comment-description a{
	vertical-align:top;
	color:#000000;
}

.searchblog{
	background:#f6f6f6;
	border-radius:20px;
}

.searchblog form input[type="submit"] {
	background: url('../images/search.png') no-repeat -3px 0px;
	padding: 5px 16px;
	border: none;
	cursor: pointer;
	position: absolute;
	line-height: 16px;
	outline: none;
}
.searchblog form input[type="text"] {
	background: none;
	border: none;
	width: 83%;
	line-height: 16px;
	outline: none;
	padding: 4px 16px;
	outline: none;
	color: #000000;
}

ul.blog-list {
	width:50%;
	float:left;
}

.gallery li p{
	background:#aaeeff;
	padding:20px;
	line-height:16px;
	color:#000000;
	font-size:14px;
}

.blog-comment h5{
	background: #363536;
	color: #aaeeff;
	font-size: 14px;
	padding:5px 20px;
	float: left;
}

.data {
	float: left;
	width: 93.5%;
}

.text1 input[type="text"], .text1 textarea {
	width:97.6%;
	margin: 10px 0;
	border: 1px solid #E1E2E2;
	color: #000000;
	font-family: "Century Gothic",Arial, Helvetica, sans-serif;
	outline: none;
	margin-bottom: 25px;
	height: 100px;
	padding: 10px 10px;
	font-size: 12px;
}

.submit {
	color: #ffffff;
	font-size: 14px;
	padding: 10px 20px;
	border-bottom:2px solid #aaeeff;
	background: #000000;
	float:right;
	display: inline-block;
}

.submit:hover{
	background:#333333;
}

h5.leave{
	background: #363536;
	color: #aaeeff;
	font-size: 20px;
	padding: 10px 20px;
	float:left;
	margin-bottom: 20px;
}

.containerabout, .aboutsidebar {
	display: block;
	float:left;
}

.boxabout {
	width:65.1%;
	margin: 0 0 0 40px;
}

.box1about {
	width: 30%;
}

.boxabout h2{
	font-size:30px;
	margin-bottom: 20px;
}

.col2{
	display: block;
	float:left;
	margin:0% 0 0% 3%;
}

.col2:first-child { margin-left: 0; }

.span2 {
	width:48%;
}

.skills li {
	width: 100%;
	height: 38px;
	background:#363536;
	margin-bottom: 20px;
}

.percent {
	float: left;
	background: #000000;
	height: 35px;
	color: #aaeeff;
	padding: 8px 10px 0 10px;
	font-size: 14px;
}

.percent-text{
	color: #ffffff;
	height: 35px;
	float: left;
	width: 70%;
	font-size: 20px;
	padding: 5px 20px 0;
}

.about-title {
	text-align:center;
	padding-top:50px;
}

.about-title h4{
	font-size: 20px;
	text-align: center;
}

.about-title h4 span {
	background: #363536;
	color: #aaeeff;
	padding: 5px 40px;
}

.profilegrid {
	display: block;
	float:left;
	margin: 0 0 0 80px;
}

.profile {
	width: 15%;
}
.profile img{
	border-radius:200px;
	border: 5px solid #aaeeff;
}
.profile h3 {
	color: #aaeeff;
	padding: 10px 20px;
	text-align: center;
	background: #262627;
	font-size: 16px;
	cursor: pointer;
}

/*--PORTOFOLIO PAGE--*/

.banner {
	background:url(../images/banner.jpg)no-repeat;
	padding:50px 0;
}
.banner h2{
	color: #aaeeff;
	background: #424146;
	padding: 10px 60px 10px 20px;
	font-size: 20px;
	float: left;
}

.project-wrapper{
	padding:50px 0 30px;
}

#info {		
	background:#fcf8e3;
	border:1px solid  #fbeed5;
	width:95%;
	max-width:900px;
	margin:0 auto 40px auto;
	font-family:arial;
	font-size:12px;
}

.portfoliomenu { 
	position: relative; 
}


#filters li {
	float:left;
}

#filters li span {
	display: block;
	padding: 20px 40px;
	text-decoration: none;
	color: #303031;
	cursor: pointer;
	font-size: 20px;
}

#filters li span.active {
	background:#aaeeff;
	color:#000000;
}

#portfoliolist .portfolio {
	float:left;
	width: 30%;
	margin:1.5%;
	display:none;
}

.portfolio-wrapper {
	background:#066279;
	cursor:pointer;
}

.portfolio img {
	max-width:100%;
	display: block;
	position: relative;
}
		
.wrapper{
	padding: 0 1% 3% 1%;
}

.portfolio-top {
	padding: 50px 0 0;
}

.portfolio-top h3 {
	text-align: center;
	font-size: 30px;
	color: #363536;
}

.portfolio-top h5 {
	text-align: center;
	font-size: 24px;
	color: #363536;
	margin-bottom: 60px;
}

.links{
	padding:10px 20px;
}

.links h4{
	float:left;
}

p.img{
	float:right;
	color:#ffffff;
	font-size:0.99em;
	display: -webkit-box;
	padding-top: 3px;
}

.links h4 a{
	color:#ffffff;
	font-size:14px;
}

.links h4 a:hover{
	color:#000000;
}

.links ul li a {
	font-size: 13px;
	color: #ffffff;
	padding-left: 5px;
}

.links ul li a:hover {
	text-decoration:underline;
}
.project-bottom{
	padding:20px;
}

.project{
	width:71.9%;
	float: left;
	margin-right:2.6%;
}
.project-slider{
	padding:0px 0 60px;
}
.project-sidebar{
	width: 25.5%;
	float: left;
}
.project-list{
	background:#363536;
	padding: 30px;
	margin-bottom:30px;
}
.project-list li, .project-list1 li{
	margin-bottom:20px;
}
.project-list li img, .project-list1 li img {
	float: left;
	margin-right: 20px;
}
.project-list li p {
	width: 84.5%;
	float: left;
	padding-top: 5px;
}
.project-list li p a{
	color:#ffffff;
	font-size:12px;
}
.project-list li p a:hover{
	color: #aaeeff;
}
.project-list h4, .project-list1 h4, .project-list2 h4{
	font-size:14px;
	color:#aaeeff;
	margin-bottom: 30px;
}
.project-list1 li p{
	width: 64.5%;
	float: left;
}
.project-list1 li p a{
	padding: 0;
	color: #ffffff;
	font-size: 0.8125em;
}
.project-list1 li p a:hover{
	color:#aaeeff;
}
.project-list1{
	background:#363536;
	padding: 30px;
	margin-bottom:30px;
}
span.likes{
	float:right;
	font-size: 0.8125em;
	color: #ffffff;
	padding-top: 18px;
}
span.likes img{
	float: none;
	margin-right: 0;
	vertical-align: middle;
}
span.link a{
	color:#ffffff;
	margin-right: 10px;
}

.project-list2 {
	background: #363536;
	padding: 30px;
}
.project-list2 li{
	float: left;
	background: #aaeeff;
	padding:5px;
	margin:2px;
}
.project-list2 li a{
	color: #000000;
	font-size: 14px;
}

/*--CONTACT PAGE--*/

.contact-to input[type="text"] {
	border: 1px solid #717474;
	color: #000000;
	background: #ffffff;
	float: left;
	padding: 10px;
	width:28%;
	margin: 10px;
}